.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    height: 50px;
    width: 75px;
    margin: 15px;
    background-color: black;
}

.block {
    display: flex;
    flex-direction: row;
}

p{
    margin-top: 55px;
}